* {
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
	background: #000000;
}

body {
  height: 100vh;
  font-family: "Raleway";
}

.player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 320px;
  height: 480px;
  overflow: hidden;
}

.main {
  width: 100%;
  height: 100%;
  background: #222;
  transition:all 500ms ease-in-out;
}

.main .thumbnail {
  width: 320px;
	height: 240px;
	overflow: hidden;
}
.main .thumbnail img {
  width: 100%;
  height: 100%;
}

/* Info-panel */
.main .details {
  text-align: center;
  padding: 15px 0px;
}
.main .details h2 {
  font-size: 18px;
  color:#eee;
  margin-bottom: 5px;
}
.main .details p {
  font-size: 15px;
  color: #aaa;
}
.main .details h3 {
  font-size: 15px;
  color: #eee;
}

/* Controls-bars */
.main .controls {
  display: flex;
  justify-content: space-between;
  margin:10px 30px;
}

.main .controls i.fa {
	font-size:25px;
	color: #ddd;
}

.volume_controls {
  margin: 30px;
  display: flex;
  justify-content: space-around;
  color:white;
}
input[type="range"] {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 5px;
	vertical-align: middle;
	border-radius: 20px;
	background-color: #232323;
	outline: none;
}
input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid  #000000;
	border-radius: 10px;
	background: #ffffff;
}

#seek {
	display: block;
	width: 100%;
}
/* End of controls-bars */

/* Player-list */
.player-list {
	position: absolute;
	width: 100%;
	margin-top:-20px;
	height: 350px;
	overflow-y: scroll;
	background: rgba(0,0,0,0.8);
	z-index:2;
	transition:all 500ms ease-in-out;
}

.player-list .toggle-list {
	position: sticky;
	top:0px;
	text-align: center;
	height: 20px;
	line-height: 20px;
	background: #555;
}

.player-list .toggle-list i.fas {
	color: #ccc;
	font-size: 20px;
	font-weight: 600;
}

.player-list .toggle-list i.fa-angle-down {
	display: none;
}
.player-list .toggle-list.active i.fa-angle-up {
	display: block;
}
.player-list .toggle-list.active i.fa-angle-down {
	display: none;
}

.activeSongList .player-list {
	margin-top: -350px;
}
.activeSongList .main {
	filter:blur(5px);
}

.player .list {
	padding: 10px;
}

.list .item {
	display: flex;
	padding: 5px 0px;
	border-bottom: 1px solid #222;
	cursor: pointer;
}

.list .item .thumbnail {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.player .list .thumbnail img {
	width: 100%;
  height: 100%;
  margin-left: 5px;
}

.player .list .item .details {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 0px 10px;
}

.list .item .details h2 {
	color: #eee;
	font-size: 16px;
}

.list .item .details p {
	color: #aaa;
	font-size: 15px;
}


.player-list::-webkit-scrollbar {
	width: 5px;
	background: #222;
}
.player-list::-webkit-scrollbar-thumb {
	background: #00acee;
}







.glow {
	position: relative;
  top: 30%;
  margin: auto;
	width: 320px;
	height: 480px;
	background: -webkit-gradient(linear,left bottom, left top,from(#000000),to(#262626));
	background: -webkit-linear-gradient(bottom,#000000,#262626);
	background: -moz-linear-gradient(bottom,#000000,#262626);
	background: -o-linear-gradient(bottom,#000000,#262626);
	background: linear-gradient(0deg,#000000,#262626);
	/* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
        border-radius: 50%; */
}
.glow::before, .glow::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background: -webkit-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	background: -moz-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	background: -o-linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	background: linear-gradient(45deg,#ff00ee,#0000ff,#00ff00,#ff0000,#ff00ee,#0000ff,#00ff00,#ffff00,#ff0000);
	-webkit-background-size: 400% 400%;
    -moz-background-size: 400%;
      -o-background-size: 400%;
        background-size: 400%;
	max-width: -webkit-calc(320px + 4px);
	max-width: -moz-calc(320px + 4px);
	max-width: calc(320px + 4px);
	max-height: -webkit-calc(480px + 4px);
	max-height: -moz-calc(480px + 4px);
	max-height: calc(480px + 4px);
	width: -webkit-calc(320px + 4px);
	width: -moz-calc(320px + 4px);
	width: calc(320px + 4px);
	height: -webkit-calc(480px + 4px);
	height: -moz-calc(480px + 4px);
	height: calc(480px + 4px);
	z-index: -1;
	-webkit-animation: animate 20s linear infinite;
    -moz-animation: animate 20s linear infinite;
      -o-animation: animate 20s linear infinite;
        animation: animate 20s linear infinite;
	/* -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
        border-radius: 50%; */
}
.glow::after {
	-webkit-filter: blur(20px);
        filter: blur(20px);
}




@-webkit-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-moz-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-o-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}